@import "tailwindcss";

.hero {
  background-image: url('./assets/img/logo_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  @apply hover:scale-105 hover:cursor-pointer;
}

button {
  @apply hover:scale-105 hover:cursor-pointer active:scale-100 bg-[#2D3319] text-white;
}

input {
  @apply border-2 border-black;
}

DropdownMenuRadioItem {
  @apply hover:cursor-pointer;
}

#root {
  background-color: #ABDBF6;
}